/*####################   HEADER SECTION   ####################### */


h1{
    margin: 0;
}
.header-nav{
    background-color: #ffffff;
    display : flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: var(--shadow-standard);
    position: fixed;
    z-index: 1;
}

.name a{
    display: flex;
    width: fit-content;
    cursor: pointer;
    color: var(--color-red);
    margin-left: 1rem;
}
.links{
    padding: 0 1rem;
}
.links  a{
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
    color: #000000;
    transition: transform  500ms;
}

.name img{
    width: 3rem;
    border-radius: 50%;
}
.name h1{
    font-size: 1rem;
    margin: 1rem;
} 
.links a:hover{
   transform: scale(1.2);  
}

/* --------------------Side Panel------------------- */
.dropdown{
    display: none;
}
  a{
        cursor: pointer;
    }
  input[type=checkbox] {
    display: none;
  }
  nav{
    position: absolute;
    top:3.2rem;
    right: 0;
    height: 100%;
    background: transparent;
    transform:translateX(200%);
  }
  nav ul {
    width: 100vw;  
    overflow: hidden;
    list-style: none;
    transition: transform 1s cubic-bezier(.325, 1, .22, 1);
    background-color: #222222;
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.2rem 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  nav li a:hover{
    transition:1s cubic-bezier(.42,.54,1,.21) ;
  }
  
  input[type=checkbox]:checked ~ nav {
    transform:translateX(0%);
    transition:0.5s cubic-bezier(.48,.42,0,1.29);
  }

  input[type=checkbox]:not(:checked) ~ nav {
    transform:translateX(200%);
    transition:0.5s cubic-bezier(.48,.42,0,1.29);
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
  }
  
  .line {
    position: absolute;
    display: block;
    background: #3d3d3d;
    width: 18px;
    height: .15rem;
    border-radius: .2rem;
    left: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }
  
  .line-1 {
    top: 0;
  }
  
  .line-2 {
    top: 7px;
    width: 14px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }
  
  .line-3 {
    top: 14px;
  }
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 0px;
    width: 22px;
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }

  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 14px;
    width: 22px;
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }

  /*--------------------------   Media     -------------------------- */

    @media only screen and (max-width: 600px){
            .dropdown{
                display: block;
            }
            .links{
                display: none;
            }

  }


  /* ########################  LANDING SECTION  ########################## */

  .landing-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.623)), url(../assets/images/carDrive.jpg);
    background-size: cover;
    background-attachment : fixed; 
    background-position-x: center;
    height: 100vh;
} 
.overlay-img{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.overlay-img img{
    width: 30rem;
    height: 20rem;
    margin-top: 3rem;

}



/* -------------------Media Queries----------------------- */

@media only screen and (max-width: 600px){
}

@media only screen and (max-width: 480px){
    .overlay-img img{
        width: 20rem;
        height: 12rem;
    
    }
    
}
@media only screen and (max-width: 420px){
 
}
/* ----------------------   Section Heading------------------- */
.section-heading{
    text-align: center;
    margin: 4rem 0;
}
.section-heading h1::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.1rem;
    background-color:var(--color-orange);
    margin: 1rem auto;
  }


/* #############################  About Section   ####################### */


.about-page{
    display: flex;
    width: 100%;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
.about-image img{
    width: 20rem;
    height: 20rem;
    padding: 2rem;
}
.about-image{
    align-items: center;

}

.about-desc{
    width: 35rem;
}
.about-desc p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 500;
    padding:2rem;
}

/* ####################  Why Us  ################################# */


.whyus-page{
    display:flex;
    width: 100%;
    flex-flow:row-reverse wrap;
    justify-content: space-evenly;
}
.whyus-image img{
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    padding-bottom: 5rem;
}
.whyus-image{
    align-items: center;
}

.whyus-desc{
    width: 35rem;
}
.whyus-desc ul{
    list-style-type: square;
    padding-top: 4rem;

}
.whyus-desc ul li p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
}

@media only screen and (max-width:600px){
    .whyus-heading{
        margin: 1rem 0;
    }
    .whyus-image img{
        padding-bottom: 0;
    }
    .whyus-desc ul{
        padding-top: 0;
    }
}



/* #####################  Service Section ######################### */


.service-container{
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.container-item{
    margin: 1rem;
    box-shadow: var(--shadow-standard);
    width: 18rem;
    border-radius: 10px;
    height: 20rem;
    backface-visibility: hidden;
}

.container-item:hover{
    transform: scale(1.06);
    border-radius: 20px;
    box-shadow: 0 0 8px 0px #0000005c;
    transition: 1s all;
}

.service-name{
    text-align: center;
}
.service-description{
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}
.img-icon{
    width:5rem;
    height:4rem;
    margin: 1.5rem auto;
}

/* ------------------------  ICONS   -------------------------- */

.fas{
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--color-orange);
}


/* ############################  COVID Response  ####################### */


.covid-measures{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.points p{
    font-size: 1.2rem;
    font-weight: 500;
}
.points{
    margin: 3rem 2rem;
}

.img-sanitize img{
    border-radius: 5px;
    box-shadow: var(--shadow-standard);
    width: 35rem;
    height: 25rem;
}
.measures-2{
    display: flex;
    flex-direction: row-reverse;
}

/* -----------Media --------------------- */


@media only screen and (max-width: 600px){
    .img-sanitize{
        width: 100%;
        padding: 1rem;
    }
    
    .img-sanitize img {
        width: 100%;
        height: 20rem;
    }
    .points{
        margin: 0 2rem;
    }
}


/* ------------------ Testimonials --------------------- */



  .section-testimonials > div >  h2{
    font-weight: 400;
    padding-top: 2rem;
}
 
.customer-reviews{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.customer{
    margin: 1.5rem;
    width: 20rem;
    font-style: italic;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}
cite img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
cite{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-orange);
    font-weight: 600;
}


blockquote{
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 5rem;
    display: block;
    position: absolute;
    top: -1rem;
    left: -2rem;
}


  /* #####################  Contact Section  ######################## */

  .contact-section{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .map{
    width : 30rem;
    margin: auto 2rem ;
    overflow: hidden;
  }
  
  .contact-form{
      width: 30rem;
      box-sizing: border-box;
      padding: 1rem 2rem;
  }
  .contact-form h1{
      text-align: center;
      margin-bottom: 1.7rem;
  }
  
  .form-fields input[type=text],input[type=email], textarea {
      width: 100%;
      border: 0.01rem solid #ccc;
      border-radius: 0.2rem;
      padding: 0.8rem 1rem;
      margin: 1rem 0rem;
  }
  textarea{
      height: 10rem;
      resize: none;
      /* background: none; */
      
  }
  .form-fields input[type="text"], input[type="password"], textarea, select { 
    outline: none;
    /* background-color: rgba(193, 222, 250, 0.548) ; */
  }
  .btn{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-orange);
    color: #ffffff;
    bottom: 3rem;
    right: 1rem;
    border: none;
    box-shadow: none;
    outline: none;
    align-items: center;
    cursor: pointer;
    
  }
  /* ------------------------- Media ---------------------- */
  @media only screen and (max-width:600px){
    .contact-form{
      width: 95vw;
      padding: 1rem;
    }
    .map{
      width: 90vw;
      height: fit-content;
      padding-top: 1rem;
    }
  }


  /* #################   Footer Section  ################ */

  footer{
    background-color: #222;
    width: 100%;
}

.footer-nav{
    padding-top: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav ul{
    margin: 0;
}

.nav-left ul li,.nav-right ul li{
    list-style: none;
}

.nav-left{
    width: fit-content;
}

.nav-right{
    width: min-content;
    margin-right: 1rem;
}

.nav-right img{
    width: 2rem;
}

.footer-element li a{
    color: gray;
    width: 4rem;
    margin: 1rem 1rem;
}
.footer-element{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  
}
/* .footer-element li a :last-child{
    height: 2rem;
    width: 2rem;
    margin: 1rem 1rem;
} */


.copyright p{
    color: gray;
    padding: 2rem;
    text-align: center;
}
.footer-element :hover{
    color: white;
    transition-duration: 0.4s;
}

@media only screen and (max-width:480px){
    .nav-right img{
        width: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .nav-left ul li{
        margin-top: 1rem;
    }
   
    
}


/* ################### Section Enrollment  ################## */

.floating-button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 100rem;
    background-color: var(--color-orange-transparent);
    color: #ffffff;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
}
.modalform{
    position: fixed;
    width: 100%;
    height: 100%;
    align-self: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    padding: 0 1rem;
    backdrop-filter: blur(2px) contrast(20%);
    display: none;
}
.modal-form-fields{
    width: 30rem;
    align-items: center;
    background-color: #171717;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.modal-form-fields h2{
    text-align: center;
    color: var(--color-orange);
    
}


.modal-form-fields input[type=text],input[type=email], input[type="tel"], select {
    width: 100%;
    border: 0.01rem solid #ccc;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
    margin: 1rem 0rem;
}
.enroll{
    width:50%;
    margin: 1rem auto;
}

.modal-form-fields input[type="text"], input[type="password"], select, input[type="tel"]  { 
  outline: none;
  background-color: #ffffff ;
}
.close {
    color: #aaa;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
  }
.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

@media only screen and (max-width:600px){
    .modal-form-fields{
        width: 75vw;
    }
    
    .modal-form-fields input[type=text],input[type=email], input[type="tel"], select {
        margin: .5rem auto;
        padding: .4rem .6rem;
    }

    .modal-form-fields h2{
        font-size: 1.5rem;
    }
}

.dev a{
    text-decoration: none;
    color: gray;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}   
.dev :hover{
    color: #ffffff;
    transition: 1s;
}

@media only screen and (max-width:400px){
    .floating-button{
        bottom: 1rem;
        left: 1rem;
    }
}



  
   